@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background: var(--color-isabelline);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-*: initial;
  --color-jet: #353535ff;
  --color-caribbean-current: #3c6e71ff;
  --color-white: #ffffffff;
  --color-platinum: #d9d9d9ff;
  --color-indigo-dye: #284b63ff;
}
