@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  background: var(--color-isabelline);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-*: initial; 
  --color-caribbean-current: #006d77ff;
  --color-tiffany-blue: #83c5beff;
  --color-alice-blue: #edf6f9ff;
  --color-pale-dogwood: #ffddd2ff;
  --color-atomic-tangerine: #e29578ff;
  --color-isabelline: #e0e1dd;
}
