@import "tailwindcss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--color-jet);

  background: var(--color-white);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-*: initial;
  --color-jet: #353535ff;
  --color-caribbean-current: #3c6e71ff;
  --color-white: #ffffffff;
  --color-indigo-dye: #284b63ff;
  --color-platinum: #dededeff;
  --color-isabelline: #edede9ff;
  --color-light-cyan: #caf0f8ff;
  --color-platinum-100: #d9d9d9;
  --color-platinum-200: #c9c9c9;
  --color-platinum-300: #a9a9a9;
  --color-platinum-400: #999999;
  --color-platinum-500: #797979;
  --color-platinum-600: #595959;
  --color-platinum-700: #393939;
}
